<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://kit.fontawesome.com/bc382c3fce.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <!-- UBAH UNTUK GANTI ICON DI TAB BROWSER -->
    <link rel="shortcut icon" href="logo.png" />
    <title>Solution</title>
  </head>
  <body class="bg-dark">
    <div id="app">
        <nav class="navbar navbar-light sticky-top" style="background-color: rgba(45, 52, 54,0.5);">
            <a class="navbar-brand" href="#"><img src="logo.png" alt=""></a>
        </nav>
        <!--  -->
        <div class="container-fluid">
        <!-- <div class="container"> -->
          <div v-show="isHome"  class="row">
              <div class="col-4">
                <!-- <form action="">
                  <input type="file" name="" id="" v-on:change="postFile($event)" accept=".mp3,audio/*"> 
                  <button type="submit" @click.prevent="sendFile()" >submit</button>
                </form> -->
                <!-- form baru -->
                <form @submit.prevent="sendFile()">
  
                  <h1><strong>Share your stories with us</strong></h1>
                  <div v-show="isSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
                      <strong>successfully uploaded</strong> Hope you find the best solution
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="form-group">
                    <label for="title">Title</label>
                    <input v-model="title" type="text" name="title" id="title" class="form-controll"/>
                  </div>
                  <div class="form-group">
                    <label for="caption">Description</label>
                    <input v-model="description" type="text" name="caption" id="caption" class="form-controll"/>
                  </div>
                  
                  <div class="form-group file-area">
                        <label for="images">Audio</label>
                    <input type="file" name="images" id="images" required="required" multiple="multiple" v-on:change="postFile($event)" accept=".mp3,audio/*"/>
                    <div class="file-dummy">
                      <div class="success">Great, your files are selected. Keep on.</div>
                      <div class="default">Please select some files</div>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <input class="btn btn-dark" type="submit" value="Upload">
                    <!-- <button type="submit">Upload audio</button> -->
                  </div>
                  
                </form>
                
                
                
                
                
                
                <link href='https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700' rel='stylesheet' type='text/css'>
                
                <!-- end of form -->
              </div>
              <!-- podcast list -->
              <div class="col-8">
                  <div class="row" style="justify-content: center;">
                      <div v-for="audio in audioData" class="music-player col-5">
                          <img class="album-cover" src="https://wp-static.gofundme.com/2018/01/03160720/people-talking-at-event-e1532735505404-2272x1158.jpg">
                            <div class="control-panel">
                              <audio controls>
                                <source :src="audio.locationGcp">
                                Your browser does not support the audio element.
                              </audio>
                              <div class="song-info">
                                  <h3>{{ audio.title }}</h3>
                                <p class="title">{{ audio.description }}</p>
                                
                              </div>   
                            <a href="#" class="btn btn-light">Comment</a>
                            <a class="twitter-share-button" target="_blank" rel="canonical" :href=`https://twitter.com/intent/tweet?text=hello%20world%20${{audio.locationGcp}}` data-size="large">
                            Tweet</a> 
                          </div>
                        </div>    
                  </div>
                </div>
                <!-- end of podcast list -->
            </div>
            <!-- end of div row -->
          <!-- </div>   -->
        </div>  
      </div>    
  </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- bootstrap end  -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
    <!-- <script src="script.js"></script> -->
  </body>
</html>